/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

* {
  margin: 0;
  padding: 0;
}

.el-menu {
  border-right: none;
}

.left-scrollbar-wrapper {
  overflow-x: hidden !important;

  .el-scrollbar__view {
    height: 94vh;
  }
}


.right-scrollbar-wrapper {
  overflow-x: hidden !important;

  .el-scrollbar__view {
    height: 95vh;
  }
}

.title-level1 {
  font-size: large;
  font-weight: 800;
}

.collapse-scrollbar-wrapper {

  .el-scrollbar__view {
    width: 100%;
    height: 70vh;
  }
}
